@tailwind base;
@tailwind components;
@tailwind utilities;



.notion-header {
    width: 100%;
    margin-bottom: 16px;
    font-family: var(--primary-font);
}

.notion-header__cover {
    overflow: hidden;
    position: relative;
    height: var(--header-cover-height);
    max-height: calc(100vh - var(--navbar-height));
    display: var(--header-display);
}

.footer-cover,
.footer-cover:before,
.notion-header__cover.has-cover,
.notion-header__cover:after {
    width: 100% !important;
    position: absolute !important;
}

.notion-header__cover.has-cover {
    top: 0 !important;
    margin-top: -20px !important;
    height: 50vh !important;
    max-height: 50vh !important;
    z-index: -2 !important;
    opacity: var(--bg-opacity) !important;
}

.header__cover:after {
    content: "" !important;
    z-index: 1 !important;
    bottom: -2px !important;
    left: 0 !important;
    background-image: var(--theme-gradient) !important;
    height: 100% !important;
}

.notion-header__cover-image {
    object-fit: cover;
    width: 100%;
}

.super-content-wrapper {
    width: 100%;
}

.super-content {
    padding-bottom: 10vh !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    max-width: var(--max-width) !important;
    margin: auto;
}

.footer-cover {
    background-color: var(--color-bg-default) !important;
    background: var(--footerCover) !important;
    background-size: cover !important;
    z-index: -1 !important;
    min-width: 100% !important;
    min-height: 25% !important;
    height: auto !important;
    opacity: 1 !important;
    bottom: 0 !important;
    left: 0 !important;
    opacity: var(--bg-opacity) !important;
    transform: rotate(180deg) !important;
    border: 0 !important;
}

.footer-cover:before,
.notion-header__cover:after {
    content: "" !important;
    z-index: 1 !important;
    bottom: -2px !important;
    left: 0 !important;
    background-image: var(--theme-gradient) !important;
    height: 100% !important;
}

.waitlist input {
    width: 45vh;
    background: rgba(89, 89, 89, 0.6);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    height: auto;
    box-shadow: rgba(255, 255, 255, 0.4) 0px 0px 0px 0px inset, rgba(238, 238, 238, 0.15) 0px 0px 0px 1px inset;
}

input .invalid {
    animation: shake 0.3s;
  }
  @keyframes shake {
    25% {
      transform: translate(4px);
    }
    50% {
      transform: translate(-4px);
    }
    75% {
      transform: translate(4px);
    }
  }
